# Python caches
__pycache__/
*.pyc
*.pyo

# Ruff cache
.ruff_cache/

# IDE
.idea/

# Runtime data
data/
db/

# Build artifacts
build/gui_main/
build/installer/output/

# Keep publishable packaged outputs
!dist/
!dist/STRepertory/
!dist/STRepertory/**

!build/installer/output/
build/installer/output/*
!build/installer/output/STRepertory-setup.exe

# Windows noise
Thumbs.db
Desktop.ini
